* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(80, 80, 80);
}

.container {
  width: 600px;
  min-height: 100vh;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(90, 90, 90);
  border-radius: 10px;
  padding-bottom: 20px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.para {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 250;
  text-align: justify;
}

.answers {
  background-color: beige;
  padding: 5px 30px 5px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  position: sticky;
  top: 0;
}

.section {
  background-color: rgb(50, 50, 50);
  color: antiquewhite;
  padding-top: 1px;
  margin-bottom: 40px;
}

.title {
  margin: 20px 0 20px 0;
  text-align: center;
  font-size: 1.3rem;
}

.score {
  margin: 20px 0 20px 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}

.title-average {
  font-size: 2.5rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(40, 40, 40);
}

.total-average {
  font-size: 4rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(40, 40, 40);
}

.question {
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: rgb(30, 30, 30) 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.question-text {
  width: 100%;
}

.question-answer {
  background-color: rgb(50, 50, 50);
  border: rgb(30, 30, 30) 1px solid;
  width: 70px;
  font-size: 2rem;
  color: antiquewhite;
}

.buttons {
  padding-top: 15px;
  padding-bottom: 20px;
  border: rgb(30, 30, 30) 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.btn {
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-weight: 500;
}

.btn:hover {
  background-color: rgb(40, 40, 40);
  color: white;
}

.hidden {
  display: none;
}

.summary {
  width: 100%;
  padding-bottom: 30px;
  background-color: rgb(90, 90, 90);
}

.summary-title {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: rgb(50, 50, 50);
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.summary-section {
  width: 100%;
  background-color: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-section-tile {
  min-width: 10%;
  margin-left: 20px;
  color: white;
  font-size: 1.5rem;
}
.summary-section-tile-total {
  min-width: 10%;
  margin-left: 20px;
  color: white;
  font-size: 0.7rem;
}

.summary-section-score {
  min-width: 10%;
  margin-right: 10px;
  color: white;
  font-size: 1.5rem;
}

.summary-section-block {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-section-graph {
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: rgb(95, 95, 95) 2px solid;
}

.graph {
  margin-top: 20px;
  width: 100%;
}

.vertical-line {
  height: 100%;
  width: 100%;
  border-left: rgb(95, 95, 95) 2px solid;
}

.vertical-line-hidden {
  height: 100%;
  width: 100%;
}

.score-circle {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#score-circle-a {
  border: solid 5px rgb(23, 160, 210);
}
#score-circle-b {
  border: solid 5px rgb(0, 115, 33);
}
#score-circle-c {
  border: solid 5px rgb(175, 12, 94);
}
#score-circle-d {
  border: solid 5px rgb(191, 109, 109);
}
#score-circle-e {
  border: solid 5px rgb(134, 83, 21);
}
#score-circle-f {
  border: solid 5px rgb(106, 178, 126);
}
#score-circle-g {
  border: solid 5px rgb(7, 5, 101);
}
#score-circle-h {
  border: solid 5px rgb(206, 46, 134);
}
#score-circle-t {
  border: solid 5px rgb(168, 184, 24);
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}
