* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(80, 80, 80);
}

.container {
  width: 600px;
  min-height: 100vh;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(90, 90, 90);
  border-radius: 10px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.para {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 250;
  text-align: justify;
}

.text {
  padding-bottom: 20px;
  margin: 0px 20px 20px 20px;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.answers {
  background-color: beige;
  padding: 5px 30px 5px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  position: sticky;
  top: 0;
}

.section {
  background-color: rgb(50, 50, 50);
  color: antiquewhite;
  padding-top: 1px;
  margin-bottom: 40px;
}

.title {
  margin: 20px 0 20px 0;
  text-align: center;
  font-size: 1.3rem;
}

.score {
  margin: 20px 0 20px 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}

.score-avg {
  margin: 20px 0 20px 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.title-average {
  font-size: 2.5rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(40, 40, 40);
}

.total-average {
  font-size: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(40, 40, 40);
}

.question {
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: rgb(30, 30, 30) 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.question-text {
  width: 100%;
}

.question-answer {
  background-color: rgb(50, 50, 50);
  border: rgb(30, 30, 30) 1px solid;
  width: 70px;
  font-size: 2rem;
  color: antiquewhite;
}

.buttons {
  padding-top: 15px;
  padding-bottom: 20px;
  border: rgb(30, 30, 30) 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.summary-button {
  padding-top: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.btn {
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-weight: 500;
}

.btn-hide {
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  font-weight: 500;
}

.btn:hover {
  background-color: rgb(40, 40, 40);
  color: white;
}

.summary {
  width: 100%;
  padding-bottom: 30px;
  background-color: rgb(90, 90, 90);
}

.summary-section-keys {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1%);
  width: 400px;
  background-color: rgba(27, 25, 25, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.summary-key {
  min-height: 40px;
  margin-left: 50px;
  font-size: 0.8rem;
  color: white;
}

.key-a {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(23, 160, 210);
}
.key-b {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(0, 115, 33);
}
.key-c {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(175, 12, 94);
}
.key-d {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(191, 109, 109);
}
.key-e {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(134, 83, 21);
}
.key-f {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(106, 178, 126);
}
.key-g {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(7, 5, 101);
}
.key-h {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(206, 46, 134);
}
.key-t {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(168, 184, 24);
}

#showKey {
  margin: 20px;
}

.summary-title {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: rgb(50, 50, 50);
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.summary-section {
  width: 100%;
  background-color: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdf-summary-section {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-section-tile {
  min-width: 10%;
  max-width: 10%;
  margin-left: 10px;
  color: white;
  font-size: 1.5rem;
}

.summary-section-tile-total {
  min-width: 10%;
  max-width: 10%;
  margin-left: 10px;
  color: white;
  font-size: 1rem;
}

.pdf-summary-section-tile {
  min-width: 10%;
  max-width: 10%;
  margin-left: 10px;
  color: black;
  background-color: white;
  font-size: 1.5rem;
}

.pdf-summary-section-tile-total {
  min-width: 10%;
  max-width: 10%;
  margin-left: 10px;
  color: black;
  background-color: white;
  font-size: 1rem;
}

.summary-section-score {
  min-width: 10%;
  margin-right: 10px;
  color: white;
  font-size: 1.5rem;
}

.pdf-summary-section-score {
  min-width: 10%;
  margin-right: 10px;
  color: black;
  font-size: 1.5rem;
}

.summary-section-block {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-section-graph {
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  background-color: white;
  border-left: rgb(95, 95, 95) 2px solid;
}

.graph {
  margin-top: 20px;
  width: 100%;
}

.pdf-graph {
  width: 100%;
  margin: auto;
}

#element {
  text-align: center;
}

.vertical-line {
  height: 100%;
  width: 100%;
  border-left: rgb(95, 95, 95) 2px solid;
}

.vertical-line-hidden {
  height: 100%;
  width: 100%;
}

.score-circle {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#score-circle-a,
#pdf-score-circle-a {
  border: solid 5px rgb(23, 160, 210);
}
#score-circle-b,
#pdf-score-circle-b {
  border: solid 5px rgb(0, 115, 33);
}
#score-circle-c,
#pdf-score-circle-c {
  border: solid 5px rgb(175, 12, 94);
}
#score-circle-d,
#pdf-score-circle-d {
  border: solid 5px rgb(191, 109, 109);
}
#score-circle-e,
#pdf-score-circle-e {
  border: solid 5px rgb(134, 83, 21);
}
#score-circle-f,
#pdf-score-circle-f {
  border: solid 5px rgb(106, 178, 126);
}
#score-circle-g,
#pdf-score-circle-g {
  border: solid 5px rgb(7, 5, 101);
}
#score-circle-h,
#pdf-score-circle-h {
  border: solid 5px rgb(206, 46, 134);
}
#score-circle-t,
#pdf-score-circle-t {
  border: solid 5px rgb(168, 184, 24);
}

.pdf-summary {
  padding: 6px;
  font-size: 1.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdf-summary-a {
  background-color: rgb(23, 160, 210);
}
.pdf-summary-b {
  background-color: rgb(0, 115, 33);
}
.pdf-summary-c {
  background-color: rgb(175, 12, 94);
}
.pdf-summary-d {
  background-color: rgb(191, 109, 109);
}
.pdf-summary-e {
  background-color: rgb(134, 83, 21);
}
.pdf-summary-f {
  background-color: rgb(106, 178, 126);
}
.pdf-summary-g {
  background-color: rgb(7, 5, 101);
}
.pdf-summary-h {
  background-color: rgb(206, 46, 134);
}
.pdf-summary-t {
  background-color: rgb(168, 184, 24);
}

#pdf-questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdf-questions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  padding: 5px 0 5px 0;
  border-bottom: 2px solid black;
}

.pdf-questions-text {
  text-align: left;
}

.pdf-questions-score {
  text-align: right;
  width: 50px;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
  .answers {
    font-size: 0.9rem;
  }
}
